@charset "utf-8";

/* General Styles
-------------------------------------------------- */

.semi-bold{
    font-weight: 600;
    font-family: Montserrat, sans-serif;
}

.bold{
    font-weight: 700;
    font-family: Montserrat, sans-serif;
}

.extra-bold-weight{
    font-weight: 600;
}

.extra-bold{
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}

.blue{
    color: #146aa7;
}

.light-yellow{
    color: #fed601;
}

.yellow{
    color: #ffc20d;
}

.border-bottom{
    border-bottom: 1px;
}

.border-bottom--white{
    border-bottom-style: solid;
    border-color: #fff;
}

.size1{
    font-size: 0.875rem;
}

.size2{
    font-size: 1.125rem;
}

.size3{
    font-size: 2.125rem;
}

.lh1{
    line-height: 0.9rem;
}

.HelveticaNeue-Light{
    font-family: 'HelveticaNeue-Light';
}

/* General Styles
-------------------------------------------------- */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 272px;
    font-size: 16px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 238px;
}

/* Helper Class
-------------------------------------------------- */

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Custom page CSS
-------------------------------------------------- */

button:focus {
    outline: #fff auto 5px;
}

.navbar--light-blue {
    background-color: #8dc2cf;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/* Header
-------------------------------------------------- */

header {
    width: 100%;
}

header,
header a {
    color: #000;
}

.container-menus{
    width: 100%;
}

.first-menu li {
    font-size: .6875rem;
    text-transform: uppercase;
    margin-left: 0.5%;
    letter-spacing: -0.5px;
    font-family: HelveticaNeue-Light;
}

.first-menu li span{
    height: 48px;
    width: 2%;
    display: table-cell;
    vertical-align: middle;
}

.first-menu li,
.first-menu li a{
    height: 48px;
    display: table-cell;
}

.first-menu li a{
    width: 100%;
    transition: color 0.4s ease;
    padding-top: 10px;
}

.first-menu li a:hover{
    color: #eec216;
}

.first-menu li:nth-child(1){
    width: 18%;
    margin-left: 0;
}

.first-menu li:nth-child(2){
    width: 18%;
    margin-left: 0;
}

.first-menu li:nth-child(8){
    background-color: #f5d94a;
    border-radius: 12px 12px 0 0;
}

.first-menu li:nth-child(8) a:hover{
    color: #146aa7;
    text-decoration: underline;
}

.first-menu li:nth-child(9),
.first-menu li:nth-child(9) a{
    width: 10.3%;
}

.first-menu li:nth-child(9) a .blue-tag{
    color: #fff;
    background-color: #60a9d9;
    height: auto;
    width: 48px;
    display: inline-block;
    width: 80px;
    border-radius: 50px;
    padding: 5px 0;
    margin-top: -5px;
}

.container-logo img{
    margin-top: -24px;
    margin-left: -10px;
}

.container-second-menu{
    z-index: 1;
    margin-top: -1px;
    position: relative;
}

.second-menu {
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.second-menu li {
    font-size: .75rem;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    background: url("../img/marker.png") no-repeat right center;
}

.second-menu li,
.second-menu li a{
    height: 70px;
    width: 18.9%;
    display: table-cell;
    vertical-align: middle;
    line-height: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.second-menu li a:hover{
    text-decoration: underline;
}

.second-menu li:last-child,
.second-menu li:last-child a{
    background: none;
    padding-left: 1%;
    width: 24.4%;
}

.second-menu li:last-child a{
    position: relative;
}

.second-menu li:last-child a .container-cart{
    position: absolute;
    top: 8px;
    right: 20px;
}

.second-menu li:last-child a .container-cart img{
    margin-right: 8px;
}

.second-menu li:last-child a .container-cart .number-itens{
    color: #fff;
    background-color: #4479c0;
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 17px;
    padding-top: 0.5px;
    border-radius: 100%;
}

.second-menu li a .lock-icon{
    margin-top: 2px;
    margin-right: 8px;
}

.second-menu li:nth-child(3),
.second-menu li:nth-child(3) a:hover,
.second-menu li:nth-child(3) a:hover span,
.second-menu li:nth-child(5),
.second-menu li:nth-child(5) a:hover,
.second-menu li:nth-child(5) a:hover span{
    text-decoration: none;
    cursor: default;
}

.gradient-horizontal-style{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d553+0,faec37+100 */
    background: #f4d553; /* Old browsers */
    background: -moz-linear-gradient(left, #f4d553 0%, #faec37 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f4d553 0%,#faec37 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f4d553 0%,#faec37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d553', endColorstr='#faec37',GradientType=1 ); /* IE6-9 */
}

.gradient-vertical-style{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d553+0,faec37+100 */
    background: #f4d553; /* Old browsers */
    background: -moz-linear-gradient(top, #f4d553 0%, #faec37 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4d553 0%,#faec37 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f4d553 0%,#faec37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d553', endColorstr='#faec37',GradientType=0 ); /* IE6-9 */
}

.container-buy-btn{
    display: inline-block;
}

.container-buy-btn__buy-btn{
    color: #fff;
    width: 100%;
    max-width: 162px;
    height: 42px;
    display: inline-block;
    border-radius: 0 0 10px 10px;
    background: #416aaa url("../img/bg_buy_button.png") repeat-x;
    transition: all 0.5s ease;
    border: 0;
}

.container-buy-btn:hover .container-buy-btn__buy-btn{
    color: #eec216 !important;
    text-decoration: none;
}

.plan-type{
    list-style: none;
    padding-left: 0;
}

.plan-type li{
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    height: 14px;
    line-height: 14px;
}

.plan-type li:first-child{
    border-right: 2px solid #2a73b2;
    padding-right: 10px;
}

.plan-type li:last-child{
    padding-left: 5px;
}

.plan-type li a{
    color: #999;
    transition: all 0.3s ease;
}

.plan-type li.active a,
.plan-type li:hover a{
    color: #1b69ac;
}

.plan-type li a:hover{
    text-decoration: none;
}

.border-right-blue{
    border-right: 2px solid #2a73b2;
}

.big-title{
    font-size: 3rem;
    line-height: 96%;
    margin-bottom: 0;
}

.info-type-plan{
    height: 96px;
    font-size: 1rem;
    line-height: 100%;
    line-height: 1.1rem;
    display: table-cell;
    vertical-align: middle;
}

/* Footer */

footer a,
footer p{
    font-family: "Helvetica";
    color: #fff;
    font-size: 0.6875rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

.footer section{
    height: 100%;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3283dd;
}

.footer a:hover{
    color: #fff;
    text-decoration: none;
}

.box-payment{
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 260px;
}

.box-payment__payment-forms img {
    margin-right: 5px;
    margin-bottom: 5px;
}

.second-menu li a.login-logout:hover{
    cursor: default;
    text-decoration: none !important;
}

.second-menu li a.login-logout span:hover {
    text-decoration: underline !important;
}

/* página de cadastro */
.container2 {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

@media (min-width:1246px) {
    .container {
        max-width: 1246px;
    }
}